<!doctype html>
<!--<html lang="en">-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <title>Hello, world!</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"  href="../css/bootstrap.min.css"   th:href="@{/css/bootstrap.min.css}">
    <!--<link rel="stylesheet"  href="../css/fileinput.min.css"   th:href="@{/css/fileinput.min.css}">-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="../js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
    <!--<script src="../js/fileinput.min.js" th:src="@{/js/fileinput.min.js}"></script>-->
    <!--<script src="../js/fileinput-zh.js" th:src="@{/js/fileinput-zh.js}"></script>-->
    <script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">
    <!-- Content here -->

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">产品管理</h1>
            <p class="lead">产品的增删查改服务.</p>
        </div>
    </div>

    <!--查询表单开始-->
    <form id="search_product" >
        <div class="form-group row">
            <label for="productCode" class="col-sm-2 col-form-label">ProductCode</label>
            <div class="col-sm-10">
                <input type="text"class="form-control-plaintext" id="productCode" name="productCode" value="" placeholder="1001">
            </div>
        </div>
        <div class="form-group row">
            <label for="productName" class="col-sm-2 col-form-label">ProductName</label>
            <div class="col-sm-10">
                <input type="text"class="form-control-plaintext" id="productName" name ="productName" value="" placeholder="北京">
            </div>
        </div>
        <div class="form-group">
            <label for="productType">ProductType</label>
            <select class="form-control" id="productType">
                <option>请选择</option>
            </select>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary mb-2">SearchProduct</button>
        </div>
    </form>
    <!--查询表单结束-->

    <hr/>

    <!--table 开始-->
    <table class="table table-hover" border="1">
        <thead>
        <tr>
            <th scope="col">Number</th>
            <th scope="col">ProductCode</th>
            <th scope="col">ProductName</th>
            <th scope="col">Inventory</th>
            <th scope="col">PicAddr</th>
            <th scope="col">ProductType</th>
            <th scope="col">LastUpdateTime</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table>
    <!--table结束-->

    <!--分页开始-->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
    <!--分页结束-->

</div>

</body>
</html>